<!doctype html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/invstyle.css') }}">
<script language="javascript">
    function updateUnitDetails()
    {
        document.priceform.action="http://localhost:5000/updatePrice";
        document.priceform.submit();
    }
</script>
</head>
<body>

<center> <u><h1> NEW Unit Price Details </h1></u></center>
<form name="priceform" action = "http://localhost:5000/updatePrice" method = "post">  
<table border = 1>
  
       <tr>
           <td>Name :</td>
          <td>  <input type="hidden" name="sno" value="{{result[0]}}"/>
            <input type="text" name="unitName" value="{{result[1]}}" readonly/>  </td></tr>
          <tr>
            <td>Type :</td>  
          <td> <input type="text" name="unitType" value="{{result[2]}}"/>  </td></tr>
          <tr>
          <td>Unit Details :</td>
          <td> <input type="text" name="unitDetails" value="{{result[3]}}"/> </td>
       </tr>
       <tr>
        <td>Item :</td>
        <td> <input type="text" name="item" value="{{result[4]}}"/> </td>
     </tr>
     <tr>
        <td>Measuring Unit</td>
        <td><select  name="measuring_unit" width="100%" name="custom-select">
        <option value="Ltr">Ltr</option>
        <option value="Kg">Kg</option>
        <option value="count">count</option>  </td></tr>        
      <tr>
        <td>Unit price :</td>
        <td> <input type="text" name="unitPrice" value="{{result[6]}}"/> </td>
     </tr>
       <tr>
        <td colspan="2" align="center">
            <input type="button" value="Update" onClick="javascript:updateUnitDetails();"/>
          <input type="button" value="Go Back" onClick="javascript:history.back();"/>  </td>
       </tr>
    
</table>
 
        
</form>